<div class="h-full flex items-center justify-center">
  <div class="p-12 border-lime-500 border-8 rounded-full ring-8 ring-red-300 ring-inset">
    <h1 class="font-serif text-5xl text-transparent bg-clip-text animate-text bg-gradient-to-tl from-purple-400 via-rose-400 to-cyan-400">
      Aidan & Julia
    </h1>
  </div>
</div>
