<main class="min-h-screen bg-gradient-to-br from-violet-300 via-sky-200 to-rose-100 animate-background">
  <div class="h-screen mx-auto max-w-2xl">
    <.flash_group flash={@flash} />
    <%= @inner_content %>
  </div>
</main>
