<!DOCTYPE html>
<html lang="en" class="[scrollbar-gutter:stable]">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix=" · Aidan & Julia">
      <%= assigns[:page_title] || "WeddingParty" %>
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>
  <body class="bg-white antialiased">
    <header>
      <nav>
        <ul class="text-2xl absolute right-0 flex items-center gap-6 p-6 sm:p-8 lg:p-12 justify-end">
          <%= if @current_user do %>
            <li class="text-lg md:text-xl lg:text-2xl leading-6 text-zinc-900">
              <%= @current_user.email %>
            </li>
            <li>
              <.link
                href={~p"/users/settings"}
                class="text-lg md:text-xl lg:text-2xl leading-6 text-zinc-900 font-semibold hover:text-zinc-700"
              >
                Settings
              </.link>
            </li>
            <li>
              <.link
                href={~p"/users/log_out"}
                method="delete"
                class="text-lg md:text-xl lg:text-2xl leading-6 text-zinc-900 font-semibold hover:text-zinc-700"
              >
                Log out
              </.link>
            </li>
          <% else %>
            <li>
              <.link
                href={~p"/rsvp"}
                class="text-lg md:text-xl lg:text-2xl leading-6 text-zinc-900 font-semibold hover:text-zinc-700"
              >
                RSVP
              </.link>
            </li>
            <li>
              <.link
                href={~p"/users/log_in"}
                class="text-lg md:text-xl lg:text-2xl leading-6 text-zinc-900 font-semibold hover:text-zinc-700"
              >
                Log in
              </.link>
            </li>
          <% end %>
        </ul>
      </nav>
    </header>
    <%= @inner_content %>
  </body>
</html>
